
<ul class="nav nav-pills navbarr">
  <li><%= link_to t('footer.about'), new_session_path %></li>
  <li><%= link_to t('footer.contacts'), new_session_path%></li>
  <li><%= link_to t('footer.terms'), new_session_path%></li>
</ul>

