<h3>Registration form :)</h3>
<form action="/registration" method="post">
  <p><input type="text" name="login" placeholder="write your login here :)"></p>
  <p><input type="password" name="password" placeholder="write your login here :)"></p>
  <input type="submit" value='Register'>
</form>


