<h2>Data Updater</h2>

<form action="/update" method="post">
<br><input type="text" name="login" placeholder="your login"></br>
<br><input type="password" name="oldP" placeholder="old password"><br>
<br><input type="password" name="newP" placeholder="new password"><br>
<br><input type="submit" value="Change password"></br>
</form>
